<div class="w-[100vw] h-[100dvh] flex flex-col max-w-md gap-4 fixed inset-0 items-center justify-center mx-auto p-4">
  <%= if @current_user do %>
    <.home_link inner_text="Calendar" destination={~p"/calendar"} />
    <.home_link inner_text="Dashboard" destination={~p"/dashboard"} />
  <% else %>
    <.home_link inner_text="Login" destination={~p"/users/log_in"} />
  <% end %>
</div>
