@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--dark-1: #111827;
	--dark-2: #1f2937;
	--dark-3: #374151;

	--active: #2563eb;
	--border: #4b5563;
}

* {
	box-sizing: border-box;
}

p, a {
	margin: 0;
}

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	background: var(--dark-1);
	color: white;
}

// Helpers

.flex {
	display: flex;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.fixed-center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}