.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 400;

	div {
		display: flex;
		gap: .5rem;
		cursor: pointer;
		padding: .5rem 1rem;
		color: var(--text-secondary);

		p:first-child {
			font-weight: 700;
			color: var(--text-main);
		}
	}
}

.nav {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	overflow: hidden;
	box-sizing: border-box;

	p {
		cursor: pointer;
		color: var(--text-main);
		padding: 1rem;
		border-radius: .5rem;
		transition: background-color 100ms ease-in-out;
		font-weight: 600;

		&:hover {
			background-color: var(--color-tercialy-bg);
		}
	}

	transition: all 200ms ease-in-out;
	max-width: 0;
	scale: .9;
	padding: 0;
}

.visible {
	max-width: 350px;
	scale: 1;
	padding: 1rem;
	margin-right: 1rem;
}