.submit-button {
	border: none;
	outline: none;
	border-radius: 999px;
	padding: 1rem 1.25rem;
	background-color: var(--primary-500);
	color: var(--others-white);
	width: 100%;
	box-sizing: border-box;
}