.or-spacer {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 1rem;

	.line {
		width: 100%;
		height: 1px;
		box-sizing: border-box;
		background-color: var(--grey-scale-200);
	}

	p {
		width: fit-content;
		text-wrap: nowrap;
		color: var(--grey-scale-700);
	}
}