.submit-button {
	width: 100%;
	box-sizing: border-box;
	background-color: var(--primary-500);
	color: var(--others-white);
	border: none;
	outline: none;
	padding: 1.125rem 1rem;
	border-radius: 999rem;
	-webkit-box-shadow: 4px 8px 24px 0 rgba(6, 193, 73, .25);
	-moz-box-shadow: 4px 8px 24px 0 rgba(6, 193, 73, .25);
	box-shadow: 4px 8px 24px 0 rgba(6, 193, 73, .25);
	transition: scale 200ms;

	&:active {
		scale: .98;
	}
}